@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}

.logo {
    width: 200px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}


.search {
    padding: 10px; 
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login{
    padding: 0px 40px;
    cursor: pointer;
}

.filter {
    display: flex;
}

.user-card {
    padding: 10px;
    border: 1px solid black;
} */